<!-- <div id="container">
  <h1>CONTACTOS</h1>
  <button>Buscar</button>
</div> -->
<div>
<h1>CONTACTOS</h1>
<button>+</button>
</div>
<form id="busqueda">
  <input type="text">
  <button>Buscar</button>
  <!-- <input type="subbmit" value="Buscar" /> -->
</form>
<!-- <button>Buscar</button> -->
<div id="tarjeta1" ></div>
<div id="tarjeta2" ></div>
<div id="tarjeta3" ></div>
<div id="tarjeta4" ></div>
<div id="tarjeta5" ></div>
<div id="tarjeta6" ></div>
<div id="tarjeta7" ></div>
<div id="tarjeta8" ></div>