h1{
    padding: 10px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 20px;
    text-align: center;
    background-color: #ddd8d8f5;
    width: 375px;
    height: 20px;
}
#busqueda{
    width: 375px;
}
#tarjeta1{
    padding: 10px;
    background-color: #f9f1f1f5;
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#tarjeta2{
    padding: 10px;
    background-color: #f9f1f1f5;
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}
#tarjeta3{
    padding: 10px;
    background-color: #f9f1f1f5;
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}
#tarjeta4{
    padding: 10px;
    background-color: #f9f1f1f5;
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}
#tarjeta5{
    padding: 10px;
    background-color: #f9f1f1f5;
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}
#tarjeta6{
    padding: 10px;
    background-color: #f9f1f1f5;
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}
#tarjeta7{
    padding: 10px;
    background-color: #f9f1f1f5;
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}
#tarjeta8{
    padding: 10px;
    background-color: #f9f1f1f5;
    width: 375px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px
}


